---
import "../styles/global.css";
// Component Imports
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import Education from "../components/Education.astro";
import Contact from "../components/Contact.astro";
import Footer from "@/components/Footer.astro";
import Waves from "@/bits/Waves/Waves";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<Layout title="Muhammad Rydwan - Software Engineer Portfolio">
		<!-- <Waves client:load lineColor="rgba(0, 229, 255, 0.4)" /> -->
		<main>
			<Hero />
			<Experience />
			<Skills />
			<Education />
			<Footer />
		</main>
	</Layout>
</html>
