<footer class="border-t py-6 md:py-0">
    <div
        class="mx-auto max-w-4xl py-12 px-4 sm:px-8 md:px-12 lg:px-24 space-y-4"
    >
        <p class="text-center text-sm leading-loose text-muted-foreground">
            Built with Astro and Shadcn UI. © {new Date().getFullYear()} Muhammad
            Rydwan. All rights reserved.
        </p>
    </div>
</footer>
