---
import { Button } from "./ui/button";
import RotatingText from "@/bits/RotatingText/RotatingText";
import Threads from "@/bits/Threads/Threads";
import { FileDown } from "lucide-react";
---

<section
    class="flex flex-col items-center justify-center space-y-4 pt-24 pb-12 text-center md:pt-32 md:py-24"
>
    <div class="absolute top-0 left-0 w-full h-full z-[-1]">
        <!-- <Threads amplitude={2.5} distance={0.2} color={[1, 3, 29]} /> -->
    </div>
    <div class="px-2">
        <p
            class="text-2xl md:text-xl xl:text-3xl font-semibold text-muted-foreground text-start w-fit"
        >
            Hi, my name is
        </p>
        <h1
            class="text-5xl mb-8 font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl"
        >
            Muhammad Rydwan
        </h1>
        <div
            class="mx-auto mb-6 max-w-[700px] text-muted-foreground md:text-xl text-center lg:text-2xl font-semibold"
        >
            and I'm a
        </div>
        <div class="flex justify-center mb-4">
            <RotatingText
                client:load
                texts={[
                    "Mobile App Craftsman ðŸ“±",
                    "Fullstack Developer ðŸ› ï¸",
                    "Software Engineer ðŸ’»",
                    "Frontend Developer ðŸŽ¨",
                    "React Developer âš›ï¸",
                    "Problem Solver ðŸ§©",
                    "Flutter Enjoyer ðŸ¦‹",
                    "Swift Enthusiast ðŸ¦",
                ]}
                mainClassName="text-xl text-center font-bold tracking-tighter sm:text-2xl md:text-3xl lg:text-4xl bg-cyan-600 text-white px-4 py-2 rounded-lg w-fit"
                staggerFrom={"last"}
                initial={{ y: "100%" }}
                animate={{ y: 0 }}
                exit={{ y: "-120%" }}
                staggerDuration={0.025}
                splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
                transition={{ type: "spring", damping: 30, stiffness: 400 }}
                rotationInterval={3000}
            />
        </div>
    </div>
    <div class="flex flex-col gap-2 min-[400px]:flex-row">
        <Button variant="outline" className="bg-white/50 backdrop-blur-none">
            <a
                href="https://github.com/rydwan10/"
                target="_blank"
                rel="noopener noreferrer"
            >
                GitHub
                <i class="devicon-github-original ml-2 dark:colored"></i>
            </a>
        </Button>
        <Button variant="outline" className="bg-white/50 backdrop-blur-none">
            <a
                href="https://linkedin.com/in/muhammad-rydwan/"
                target="_blank"
                rel="noopener noreferrer"
            >
                LinkedIn
                <i class="devicon-linkedin-plain ml-2"></i>
            </a>
        </Button>
        <Button variant="outline" className="bg-white/50 backdrop-blur-none">
            <FileDown />
            <a
                href="src/files/Muhammad_Rydwan_CV.pdf"
                target="_blank"
                rel="noopener noreferrer"
                download
            >
                Download CV
            </a>
        </Button>
    </div>
</section>
